
.queueSelectorPanel{
    position: relative;
    min-width: 250px;
    max-width: 350px;
}

.queueViewer{
   margin-left:20px;
}

.label {
    padding: 5px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-description {
    margin-left: 20px;
    display: flex;
}

.header-button-description {
    margin-right: 10px;
}


.link {
    color: #1975D3;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.input {
    color: #1975D3;
    font-weight: bold;
    margin: 0 5px 0 0;
}

.bold {
    font-weight: bold;
}
